#eventcard-component {
    display: flex;
    flex-direction: column; 
    max-width: 100vw;    
    position:relative;   
    border:1px solid #E8E8E8;      
    padding: 24px;
    transition: 0.2s;
    overflow: hidden;
    cursor: pointer;
}

#eventcard-component:hover {
    transform: translateY(-5px);
    box-shadow: var(--color-10) 5px 3px 7px;
    border-bottom-right-radius: 70px 10px; 
    background: var(--color-11); 
}

#eventcard-component h3 {
    font-family: var(--title-font);
    font-weight: 300;
    font-size: 24px;
    color: var(--color-6);
    margin-top: -2px;
}

#eventcard-component span {
    margin-top: -24px;
    font-size: 12px;
    font-family: var(--title-font);
    margin-bottom: 10px;
    color: var(--color-6);
}

#eventcard-component p {
    font-size: 15px;
    font-family: var(--title-font);
    color: var(--color-6);
}

#eventcard-component .buttons, 
#eventcard-component .buttons-hidden {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

#eventcard-component .buttons a,
#eventcard-component .buttons-hidden a {
    display: flex;
    flex-direction: row;
    font-family: var(--title-font);
    color: var(--color-3);
    text-align: center;
    cursor: pointer;
    transition: opacity 0.5s;
    text-decoration: none;
}

#eventcard-component .buttons a:hover {
    opacity: 50%;
}

#eventcard-component .buttons-hidden {
    visibility: hidden;
}

@media (min-width: 1080px) {
    #eventcard-component h3 {
        font-size: 24px;
        max-width: 30vw;
    }

    #eventcard-component .buttons {
        gap: 0px;
    }
}