#carousel-component {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    max-width: 100vw;
    overflow: hidden;
}

#carousel-component .carousel-content {
    display: flex;
    transition: 0.5s;
    width: 85vw;
    padding: 10px;
    overflow: hidden;
}

#carousel-component .pass-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 40px;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-3);
}

#carousel-component button#right:hover {
    animation: 0.7s right infinite;
}

#carousel-component button#left:hover {
    animation: 0.7s left infinite;
}

@keyframes right {
    0% {
        padding-right: 6px;

    } 25% {
        padding-right: 9px;
    } 50% {
        padding-right: 6px;
    } 100% {
        padding-right: 0px;
    } 
}

@keyframes left {
    0% {
        padding-left: 6px;
    } 25% {
        padding-left: 9px;
    } 50% {
        padding-left: 6px;
    } 100% {
        padding-left: 0px;
    } 
}


@media (min-width: 1080px) {
    #carousel-component {
        gap: 12px;
    }
    
    #carousel-component .carousel-content {
        gap: 24px;
    }

    #carousel-component .pass-button {
        height: 64px;
        width: 56px;
    }

    #carousel-component .pass-button #left {
        margin-left: 0px;
    }

    #carousel-component .pass-button #right {
        margin-right: 0px;
    }
}