:root {
    --color-1: #f19181;
    --color-2: #d27c90;
    --color-3: #a66f96;
    --color-4: #75648d;
    --color-5: #4a5876;
    --color-6: #2f4858;
    --color-7: #fff6f3;
    --color-8: #A66F96;
    --color-9: #ffffff;
    --title-font: 'Poppins', sans-serif;
    --text-font: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#home-page {
    justify-self: center;
    overflow: hidden;
}

#home-page header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--title-font);
    background-color: var(--color-7);
    padding-left: 9px;
    padding-right: 9px;
    max-height: 44px;
    box-shadow: 5px;
}

#home-page header img {
    max-width: 50px;
}

#home-page header ul {
    display: flex;
    gap: 7px;
    justify-content: space-between;
}

#home-page header ul li {
    list-style: none;
}

#home-page header ul li a {
    text-decoration: none;
    color: var(--color-2);
    font-weight: 500;
    font-size: 12px;
}

#home-page img.wellcome-image {
    width: 100vw;
}

#home-page main p.screen-paragraph {
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: var(--color-6);
}

#home-page main .section-about p.screen-paragraph {
    margin-top: -10px;
}

#home-page main p.tiptool-paragraph {
    font-family: var(--title-font);
    font-weight: 300;
    line-height: 40px;
    color: var(--color-6);
}

#home-page footer {
    background-color: var(--color-7);
    background-image: url("../assets/images/background-opacity.png");
    background-repeat: repeat-y;
    background-size: 100vw;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
}

#home-page footer h1 {
    font-family: var(--title-font);
    color: var(--color-2);
    font-weight: 300;
}

#home-page footer div.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#home-page footer div.footer-content div.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

#home-page footer div.footer-content div.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    align-items: center;
    padding: 32px;
}

#home-page footer div.footer-content div.social-networks img {
    max-height: 70px;
}

#home-page footer div.footer-content div.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

#home-page footer div.footer-content div.copyright span {
    font-family: var(--text-font);
    color: var(--color-6);
}

#home-page footer div.footer-content div.copyright img {
    width: 72px;
    margin-top: -6px;
}
