:root {
    --color-1: #f19181;
    --color-2: #d27c90;
    --color-3: #a66f96;
    --color-4: #75648d;
    --color-5: #4a5876;
    --color-6: #2f4858;
    --color-7: #fff6f3;
    --color-8: #A66F96;
    --color-9: #ffffff;
    --color-10: #2b2b2b88;
    --title-font: 'Poppins', sans-serif;
    --text-font: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#home-page {
    justify-self: center;
    overflow: hidden;
    margin: -8px;
}

#home-page header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--title-font);
    background-color: var(--color-7);
    padding-left: 9px;
    padding-right: 9px;
    max-height: 44px;
    box-shadow: var(--color-10) 1px 2px 8px;
}

#home-page header img {
    max-width: 50px;
}

#home-page header ul {
    display: flex;
    gap: 7px;
    justify-content: space-between;
    max-height: 24px;
}

#home-page header ul li {
    list-style: none;
    cursor: pointer;
    max-height: 24px;
}

#home-page header ul li a {
    text-decoration: none;
    color: var(--color-2);
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    transition: 0.1s;
}

#home-page header ul li:hover {
    border-bottom: solid var(--color-2) 2px;
}

#home-page img.wellcome-image {
    width: 100vw;
}

#home-page main p.screen-paragraph {
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: var(--color-6);
}

#home-page main .section-about p.screen-paragraph {
    margin-top: -10px;
}

#home-page main .section-projects .carousel {
    color: #4a5876;
}

#home-page footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-7);
    background-image: url("../assets/images/background-opacity.png");
    background-repeat: repeat-y;
    background-size: 100vw;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    box-shadow: var(--color-10) 1px 2px 8px;
}

#home-page footer h1 {
    font-family: var(--title-font);
    color: var(--color-2);
    font-weight: 300;
}

#home-page footer div.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#home-page footer div.footer-content div.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

#home-page footer div.footer-content div.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    align-items: center;
    padding: 32px;
}

#home-page footer div.footer-content div.social-networks a img {
    max-height: 70px;
}

#home-page footer div.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

#home-page footer div.copyright span {
    font-family: var(--text-font);
    color: var(--color-6);
}

#home-page footer div.copyright img {
    width: 72px;
    margin-top: -6px;
}

@media (min-width: 1080px) {
    #home-page header {
        max-height: 86px;
    }
    
    #home-page header img {
        max-width: 80px;
    }

    #home-page header ul {
        max-height: 30px;
        gap: 20px;
    }

    #home-page header ul li {
        font-size: 20px;
        max-height: 30px;
    }

    #home-page header ul li a {
        font-size: 20px;
    }

    #home-page main p.screen-paragraph {
        font-size: 22px;
        line-height: 50px;
    }

    #home-page main .section-about .icon{
       margin-top: -124px; 
    }

    #home-page footer h1 {
        font-size: 56px;
    }

    #home-page footer div.footer-content {
        display: flex;
        flex-direction: row;
        padding-left: 16px;
        padding-right: 32px;
    }

    #home-page footer div.footer-content div.contact {
        gap: 16px;
    }

    #home-page footer div.footer-content div.social-networks a img {
        max-height: 100px;
    }

    #home-page footer div.copyright {
        max-width: 300px;
        align-self: center;
        padding-bottom: 12px;
        padding-top: 24px;
    }
}
