:root {
    --color-1: #f19181;
    --color-2: #d27c90;
    --color-3: #a66f96;
    --color-4: #75648d;
    --color-5: #4a5876;
    --color-6: #2f4858;
    --color-7: #fff6f3;
    --color-8: #A66F96;
    --color-9: #ffffff;
    --color-10: #2b2b2b88;
    --color-11: #f1928131;
    --color-12: #e9848852;
    --color-13: #d27c9086;
    --color-14: rgba(0, 0, 0, 0.068);
    --title-font: 'Poppins', sans-serif;
    --text-font: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#home-page {
    display: flex;
    flex-direction: column;
    justify-self: center;
    overflow: hidden;
    margin: -8px;
}

#home-page header {
    display: flex;
    z-index: 10;
    cursor: pointer;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    font-family: var(--title-font);
    background-color: var(--color-7);
    max-height: 44px;
    transition: all 0.5s;
    box-shadow: var(--color-10) 1px 2px 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all 0.2s;
}

#home-page header ul a.image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    max-width: 8vw;
}

#home-page header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

#home-page header nav a img {
    max-width: 48px;
    margin-top: 4px;
    padding-left: 8px;
}

#home-page header ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    list-style-type: circle;
}

#home-page header ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
    max-height: 8px;
    transition: all 0.1s;
    justify-content: center;
    border-bottom: solid transparent 2px;
}

#home-page header ul li a {
    text-decoration: none;
    color: var(--color-2);
    font-weight: 500;
    font-size: 10px;
    cursor: pointer;
}

#home-page header ul li:hover {
    border-color: var(--color-2);
}

#home-page img.wellcome-image {
    width: 100vw;
    background-color: #fff;
}

#home-page main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#home-page main .division {
    width: 88vw;
    border-bottom: thin solid var(--color-14);
    box-shadow: var(--color-10) 1px 2px 8px;
}

#home-page main .paragraph {
    font-family: var(--text-font);
    text-align: justify;
    color: var(--color-6);
    font-weight: 300;
    line-height: 40px;
}

#home-page main .section-about .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#home-page main .section-panel .children {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    align-self: center;
    justify-content: center;
    max-width: 100vw;
    column-gap: 8px;
    padding-left: 90px;
    padding-right: 100px;
}

#home-page main .section-projects {
    display: flex;
    overflow: hidden;
    width: 100vw;
}

#home-page main .section-projects .children {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 60vh;
}

#home-page main .section-events .children {
    padding: 24px;
    align-self: center;
    gap: 16px;
}

#home-page main .section-events {
    padding-bottom: 104px;
    margin-bottom: -1px;
}

#home-page main .section-partnerships {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#home-page main .section-partnerships .children {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    align-self: center;
    justify-content: center;
    max-width: 100vw;
    column-gap: 12px;
    row-gap: 8px;
    padding-left: 90px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
}

#home-page main .section-partnerships .children #picturelink-component img {
    max-height: 80px;
    border: none;
}

#home-page footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-7);
    background-image: url("../assets/images/background-opacity.png");
    background-repeat: repeat-y;
    background-size: 100vw;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    box-shadow: var(--color-10) 1px 2px 8px;
}

#home-page footer h1 {
    font-family: var(--title-font);
    color: var(--color-2);
    font-weight: 300;
    padding-left: 16px;
}

#home-page footer div.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#home-page footer div.footer-content div.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

#home-page footer div.footer-content div.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    align-items: center;
    padding: 32px;
}

#home-page footer div.footer-content div.social-networks a img {
    max-height: 64px;
}

#home-page footer div.footer-content div.social-networks a img:hover {
    transform: translateY(-10px);
    box-shadow: var(--color-10) 5px 3px 7px;;
}

#home-page footer div.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 22px;
}

#home-page footer div.copyright span {
    font-family: var(--text-font);
    color: var(--color-6);
}

#home-page footer div.copyright img {
    width: 72px;
    margin-top: -6px;
}

#carousel-component {
    display: flex;
    right: 1000%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@media (min-width: 760px) {
    #home-page header {
        max-height: 300px;
    }
    
    #home-page header nav a {
        max-width: 8vw;
    }

    #home-page header nav a img {
        max-width: 88px;
        margin-right: -120px;
    }

    #home-page header ul {
        text-align: center;
        gap: 72px;
        row-gap: 12px;
        align-items: center;
        justify-content: space-between;
        max-width: 50vw;
        padding-right: 72px;
    }

    #home-page header ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        padding-top: 12px;
        max-height: 48px;
    }

    #home-page header ul li a {
        font-size: 20px;
        text-align: center;
    }

    #home-page main .section-about p {
        font-size: 16px;
        max-width: 60vw;
    }

    #home-page main .section-about .children {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 9vw;
        width: 100vw;
    }

    #home-page main .section-about .children .text {
        width: 72vw;
        max-height: 100vh;
    }

    #home-page main .section-about #iconstatus-component {
       margin-top: -80px;
       margin-left: -120px;
    }

    #home-page main .section-panel .children {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        column-gap: 15px;
        row-gap: 0px;
    }

    #home-page main .section-panel h1,
    #home-page main .section-about h1 {
        margin-top: -144px;
        margin-bottom: -80px;
    }

    #home-page main .section-projects .children {
        gap: 24px;
        height: 100vh;
    }

    #home-page main .section-projects h1 {
        padding-top: 56px;
        margin-bottom: -24px;
    }

    #home-page main .section-events .children {
        align-items: center;
        justify-content: center;
        align-self: center;
        flex-wrap: wrap;
        width: 100vw;
    }

    #home-page main .section-partnerships .children #picturelink-component img {
        max-height: 120px;
        border: none;
    }
    
    #home-page footer h1 {
        font-size: 40px;
    }

    #home-page footer div.footer-content {
        display: flex;
        flex-direction: row;
        padding-left: 16px;
        padding-right: 32px;
    }

    #home-page footer div.footer-content div.contact {
        gap: 16px;
    }

    #home-page footer div.footer-content div.social-networks a img {
        max-height: 100px;
        transition: 0.2s;
        border-radius: 50%;
    }

    #home-page footer div.copyright {
        max-width: 400px;
        align-self: center;
        padding-bottom: 12px;
        padding-top: 24px;
        font-size: 20px;
    }

    #home-page main .paragraph {
        font-size: 18px;
        line-height: 28px;
        margin-top: -20px;
        width: 65vw;
        text-align: justify;
        padding-left: 88px;
    }

    #home-page main .section-partnerships .children {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(5, 1fr);
        gap: 40px;  
        padding-top: 160px;
        padding-bottom: 160px;
    }
}

@media (min-width: 1080px) {
    #home-page main .section-panel .children {
        grid-template-columns: repeat(12, 1fr);
    }

    #home-page header ul {
        display: flex;
        align-items: center;
        gap: 48px;
        max-height: 24px;
        padding-right: 100px;
    }
}