#iconstatus-component {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    max-width: 40vw;
    max-height: 100vh;
}

#iconstatus-component img.icon {
    max-height: 50vh;
}

#iconstatus-component img.status {
    width: 25px;
    margin-top: -80px;
    margin-left: 172px;
    cursor: pointer;
}

@media (min-width: 760px) {

    #iconstatus-component img.icon {
        max-height: 40vh;
    }
    
    #iconstatus-component img.status {
        max-width: 24px;
        margin-top: -80px;
        margin-left: 152px;
        cursor: pointer;
    }
}

@media (min-width: 1080px) {
    #iconstatus-component img.icon {
        max-height: 60vh;
    }
    
    #iconstatus-component img.status {
        max-width: 25px;
        margin-top: -90px;
        margin-left: 172px;
        cursor: pointer;
    }
}