#iconstatus-component {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#iconstatus-component img.icon {

}

#iconstatus-component img.status {
    max-width: 25px;
    margin-top: -100px;
    margin-left: 172px;
}