#projectcard-component {
    display: flex;
    flex-direction: column;
    background-color: var(--color-9);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 230px;
    height: 380px;
    overflow: hidden;
    margin-bottom: 16px;
    background-position-x: absolute;
    transition: 0.2s;
    position: relative;
}

.normal {
    border: var(--color-3) 0.2px;
    border-style: solid;
    box-shadow: var(--color-10) 4px 2px 6px;
}

.normal:hover {
    transform: translateY(-5px);
    box-shadow: var(--color-10) 5px 3px 7px;
    border-style: solid;
}

.hidden {
    visibility: hidden;
}

#projectcard-component .img-content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 720px;
    width: 360px;
    background-color: var(--color-7);
}

#projectcard-component img {
    width: 200px;
    max-height: 720px;
}

#projectcard-component div.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#projectcard-component div.content h3 {
    text-align: center;
    font-family: var(--title-font);
    font-size: 24px;
    font-weight: 300;
    color: var(--color-4);
    margin-top: -2px;
}

#projectcard-component div.content p {
    display: flex;
    font-family: var(--text-font);
    text-align: start;
    font-size: 12px;
    line-height: 25px;
    color: var(--color-6);
    max-width: 350px;
    height: 148px;
    overflow: hidden;
    margin-top: -14px;
    text-align: justify;
}

@media (min-width: 1080px) {
    #projectcard-component {
        flex-direction: row;
        width: 56vw;
        height: 450px;
        margin-bottom: 12px;
        margin-top: -32px;
    }

    #projectcard-component .img-content {
        width: 510px;
        height: 490px;
    }

    #projectcard-component img {
        width: 400px;
        max-height: 250px;
    }

    #projectcard-component div.content {
        gap: 5px;
    }

    #projectcard-component div.content p {
        line-height: 30px;
        font-size: 16px;
        align-self: center;
        width: 360px;
        margin-top: -15px;
        height: 205px;
    }

    #projectcard-component div.content h3 {
        font-size: 32px;
        margin-top: 10px;
    }
}
