#page-404 {
    display: flex;
    background: url("../assets/images/background-full.png");
    flex-direction: column-reverse;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100vh;
    font-family: var(--title-font);
    margin: -8px;
    overflow: hidden;
    padding-left: 24px;
}

#page-404 img {
    margin-top: -100px;
    transform: rotateY(180deg) scale(42%);
}

#page-404 .texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
}

#page-404 .texts h1 {
    margin-top: -24vh;
    text-align: start;
    color: var(--color-2);
    font-size: 38px;
    width: 90vw;
}

#page-404 .texts a {
    display: flex;
    color: var(--color-6);
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    margin-top: -4vh;
}

@media (min-width: 700px) {
    #page-404 {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: 100px;
        padding-left: 50px;
        align-self: center;
    }
    
    #page-404 img {
        margin-top: -300px;
        margin-left: 15px;
        transform: rotateY(180deg) scale(150%);
    }
    
    #page-404 .texts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
    }
    
    #page-404 .texts h1 {
        font-size: 5vh;
        max-width: 50vw;
        margin-right: 5px;
    }
    
    #page-404 .texts a {
        font-size: 12px;
        max-width: 24vw;
        margin-top: -40px;
    }    
}

@media (min-width: 1080px){
    #page-404 {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: 300px;
        padding-left: 200px;
        align-self: center;
    }
    
    #page-404 img {
        margin-top: 100px;
        transform: rotateY(180deg) scale(350%);
        margin-left: -72px;
    }
    
    #page-404 .texts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
    }
    
    #page-404 .texts h1 {
        margin-top: 10px;
        font-size: 80px;
        max-width: 56vw;
    }
    
    #page-404 .texts a {
        font-size: 16px;
        max-width: 24vw;
        margin-top: -56px;
    }
}

