:root {
    --color-1: #f19181;
    --color-2: #d27c90;
    --color-3: #a66f96;
    --color-4: #75648d;
    --color-5: #4a5876;
    --color-6: #2f4858;
    --color-7: #fff6f3;
    --color-8: #A66F96;
    --color-9: #ffffff;
    --color-10: #2b2b2b88;
    --color-11: #f1928131;
    --color-12: #e9848852;
    --color-13: #d27c9086;
    --color-14: #2b2b2b26;
    --title-font: 'Poppins', sans-serif;
    --text-font: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#home-page {
    justify-self: center;
    overflow: hidden;
    margin: -8px;
}

#home-page header {
    z-index: 10;
    display: flex;
    cursor: pointer;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    font-family: var(--title-font);
    background-color: var(--color-7);
    max-height: 44px;
    transition: all 0.5s;
    box-shadow: var(--color-10) 1px 2px 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all 0.2s;
}

#home-page header img {
    max-width: 48px;
    margin-left: 10px;
    margin-top: 4px;
}

#home-page header ul {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    margin-left: -88px;
    max-width: 40vw;
}

#home-page header ul li {
    list-style: none;
    cursor: pointer;
    max-height: 24px;
    transition: all 0.1s;
    border-bottom: solid transparent 2px;
}

#home-page header ul li a {
    text-decoration: none;
    color: var(--color-2);
    font-weight: 500;
    font-size: 10px;
    cursor: pointer;
}

#home-page header ul li:hover {
    border-color: var(--color-2);
}

#home-page img.wellcome-image {
    width: 100vw;
}

#home-page main .screen-paragraph {
    font-family: var(--text-font);
    font-size: 15px;
    font-weight: 300;
    line-height: 40px;
    text-align: justify;
    color: var(--color-6);
}

#home-page main .section-about p.screen-paragraph {
    margin-top: -10px;
}

#home-page main .section-panel .children {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    align-self: center;
    justify-content: center;
    max-width: 100vw;
    column-gap: 8px;
    padding-left: 90px;
    padding-right: 100px;
}

#home-page main .section-projects {
    display: flex;
    overflow: hidden;
}

#home-page main .section-projects .children {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 60vh;
}

#home-page main .section-events .children {
    padding: 24px;
    align-self: center;
    gap: 16px;
}

#home-page main .section-events {
    padding-bottom: 104px;
    margin-bottom: -1px;
}

#home-page footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-7);
    background-image: url("../assets/images/background-opacity.png");
    background-repeat: repeat-y;
    background-size: 100vw;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    box-shadow: var(--color-10) 1px 2px 8px;
}

#home-page footer h1 {
    font-family: var(--title-font);
    color: var(--color-2);
    font-weight: 300;
}

#home-page footer div.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#home-page footer div.footer-content div.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

#home-page footer div.footer-content div.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    align-items: center;
    padding: 32px;
}

#home-page footer div.footer-content div.social-networks a img {
    max-height: 64px;
}

#home-page footer div.footer-content div.social-networks a img:hover {
    transform: translateY(-10px);
    box-shadow: var(--color-10) 5px 3px 7px;;
}

#home-page footer div.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 22px;
}

#home-page footer div.copyright span {
    font-family: var(--text-font);
    color: var(--color-6);
}

#home-page footer div.copyright img {
    width: 72px;
    margin-top: -6px;
}

@media (min-width: 760px) {
    #home-page main .section-panel .children {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
}

@media (min-width: 1024px) {
    #home-page header {
        max-height: 300px;
    }
    
    #home-page header img {
        max-width: 88px;
        margin-right: 3vw;
        margin-left: 12px;
    }

    #home-page header ul {
        gap: 2px;
        max-height: 24px;
        width: 40vw;
        margin-left: -530px;
    }

    #home-page header ul li {
        font-size: 20px;
        padding-bottom: 28px;
    }

    #home-page header ul li a {
        font-size: 20px;
    }

    #home-page main .screen-paragraph {
        font-size: 22px;
        line-height: 50px;
        font-family: var(--text-font);
    }

    #home-page main .section-about .children {
        display: flex;
        justify-content: space-between;
        gap: 10vw;
     }

    #home-page main .section-about .icon {
       margin-top: -124px; 
    }

    #home-page main .section-panel .children {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        column-gap: 15px;
        row-gap: 0px;
    }

    #home-page main .section-projects .children {
        gap: 24px;
        height: 80vh;
    }

    #home-page main .section-events .children {
        align-items: center;
        justify-content: center;
        align-self: center;
        flex-wrap: wrap;
        width: 100vw;
    }
    

    #home-page footer h1 {
        font-size: 48px;
    }

    #home-page footer div.footer-content {
        display: flex;
        flex-direction: row;
        padding-left: 16px;
        padding-right: 32px;
    }

    #home-page footer div.footer-content div.contact {
        gap: 16px;
    }

    #home-page footer div.footer-content div.social-networks a img {
        max-height: 100px;
        transition: 0.2s;
        border-radius: 50%;
    }

    #home-page footer div.copyright {
        max-width: 400px;
        align-self: center;
        padding-bottom: 12px;
        padding-top: 24px;
        font-size: 20px;
    }

    #home-page main .screen-paragraph {
        font-size: 18px;
        line-height: 45px;
        margin-top: -20px;
        max-width: 50vw;
    }
}
