#section-component {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 40px;
}

#section-component .children {
    align-items: center;
}

#section-component h1 {
    font-family: var(--title-font);
    font-size: 32px;
    font-weight: 300;
    color: var(--color-2);
}
