#section-component {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 40px;
    overflow: hidden;
}

#section-component .children {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

#section-component h1 {
    font-family: var(--title-font);
    font-size: 32px;
    font-weight: 300;
    color: var(--color-2);
}

#section-component button {
    width: 100vw;
    height: 50px;
    background-color: var(--color-1);
    border: none;
    align-self: center;
    margin-top: 23px;
    margin-bottom: -24px;
    cursor: pointer;
    transition: opacity 0.2s;
}

#section-component button:hover{
    opacity: 90%;
}

@media (min-width: 1024px) {
    #section-component .children {
        flex-direction: row;
    }

    #section-component h1 {
        font-size: 64px;
    }

    #section-component button {
        margin-bottom: -48px;
    }
}
