#section-component {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 40px;
}

#section-component .children {
    align-items: center;
    justify-content: center;
}

#section-component h1 {
    font-family: var(--title-font);
    font-size: 32px;
    font-weight: 300;
    color: var(--color-2);
}

@media (min-width: 1080px) {
    #section-component .children {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #section-component h1 {
        font-size: 64px;
    }
}
