#dropdown-component {
    display: flex;
    cursor: pointer;
    overflow: hidden;
    margin-top: 0.5vh;
    padding-right: 4px;
}

#dropdown-component .button,
#dropdown-component .menu-item  {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    background: none;
    border: none;
    font-family: var(--title-font);
    color: var(--color-2);
    text-decoration: none;
    color: var(--color-2);
    font-weight: 500;
    font-size: 10px;
    cursor: pointer;
    transition: 0.1s;
}

#dropdown-component .button span {
    margin-top: 2px;
    margin-right: 9px;
}

#dropdown-component .button .selected {
    margin-top: 2px;
    height: 10px;
    width: 10px;
}

#dropdown-component .button .icon {
    margin-top: 3px;
    margin-left: -12px;
    height: 12px;
    width: 12px;
}

#dropdown-component .menu-item  {
    border: 1px var(--color-2) solid;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    transition: opacity 0.5s;
}

#dropdown-component .menu-item a {
    text-decoration: none;
    color: var(--color-2);
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s;
}

#dropdown-component .menu-item:hover {
    opacity: 0.6;
}

@media (min-width: 1080px) {

    #dropdown-component {
        margin-top: 0.9vh;
        margin-left: -0.5vw;
        padding-right: 24px;
    }

    #dropdown-component .button {
        font-size: 20px;
    }

    #dropdown-component .button .selected {
        margin-top: 5px;
        height: 20px;
        width: 20px;
    }

    #dropdown-component .button span {
        margin-right: 32px;
        margin-top: 2px;
    }
    
    #dropdown-component .button img {
        margin-right: 4px;
    }

    #dropdown-component .button .icon {
        margin-top: 5px;
        margin-left: -32px;
        height: 16px;
        width: 16px;
    }

    #dropdown-component .menu-item {
        font-size: 20px;
    }
}