#projectcard-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 270px;
    height: 424px;
    overflow: hidden;
    border: var(--color-3) 0.2px;
    border-style: dashed;
    margin-bottom: 16px;
    transition: 0.2s;
}

.normal {
    
}

.spotlight {
}

.normal:hover {
    transform: translateY(-5px);
    box-shadow: var(--color-10) 5px 3px 7px;
    border-style: solid;
}

.spotlight:hover {
    transform: translateY(-5px);
    box-shadow: var(--color-10) 5px 3px 7px;
    border-style: solid;
}

#projectcard-component .img-content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 360px;
    width: 360px;
    background-color: var(--color-7);
}

#projectcard-component img {
    max-width: 240px;
    max-height: 240px;
}

#projectcard-component div.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#projectcard-component div.content h3 {
    text-align: center;
    font-family: var(--title-font);
    font-size: 24px;
    font-weight: 300;
    color: var(--color-4);
    margin-top: -5px;
}

#projectcard-component div.content p {
    display: flex;
    font-family: var(--text-font);
    text-align: justify;
    font-size: 12px;
    line-height: 25px;
    color: var(--color-6);
    max-width: 350px;
    height: 148px;
    overflow: hidden;
    margin-top: -14px;
}

#projectcard-component div.content a {
    display: flex;
    align-items: center;
    justify-items: center;
    align-self: center;
    justify-content: center;
    text-decoration: none;
    font-family: var(--title-font);
    color: var(--color-9);
    background-color: var(--color-3);
    text-align: center;
    padding: 10px;
    transition: opacity 0.5s;
    max-width: 24vw;
    height: 28px;
    font-size: 16px;
    border-radius: 30px;
}

#projectcard-component div.content a:hover {
    opacity: 80%;
}

@media (min-width: 1080px) {
    #projectcard-component {
        width: 380px;
        height: 510px;
        margin-bottom: 12px;
    }

    #projectcard-component .img-content {
        width: 500px;
    }

    #projectcard-component img {
        max-width: 400px;
        max-height: 250px;
    }

    #projectcard-component div.content p {
        line-height: 30px;
        font-size: 18px;
        width: 360px;
        margin-top: -15px;
    }

    #projectcard-component div.content h3 {
        font-size: 32px;
        margin-top: 10px;
    }
 
    #projectcard-component div.content a {
        display: flex;
        width: 9vw;
        height: 28px;
        font-size: 18px;
        text-align: center;
    }
}
