#projectcard-component {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: 270px;
    height: 424px;
    overflow: hidden;
    border: var(--color-3) 0.2px;
    border-style: dashed;
    margin-bottom: 12px;
    transition: 0.2s;
}

.normal {
    
}

.spotlight {
    
}

.normal:hover {
    transform: translateY(-5px);
    box-shadow: var(--color-10) 5px 3px 7px;
    border-style: solid;
}

.spotlight:hover {
    transform: scale(105%) translateY(-10px);
    box-shadow: var(--color-10) 5px 3px 7px;
    border-style: solid;
}

#projectcard-component img {
    max-width: 460px;
    max-height: 180px;
    background-color: var(--color-7);
}

#projectcard-component div.content {
    padding: 8px;
}

#projectcard-component div.content h3 {
    font-family: var(--title-font);
    font-size: 24px;
    font-weight: 300;
    color: var(--color-4);
    margin-top: -2px;
}

#projectcard-component div.content p {
    font-family: var(--text-font);
    font-size: 12px;
    line-height: 25px;
    color: var(--color-6);
    margin-top: -28px;
    width: 270px;
    height: 148px;
    overflow: hidden;
}

#projectcard-component div.content a {
    text-decoration: none;
    font-family: var(--title-font);
    color: var(--color-9);
    background-color: var(--color-3);
    padding: 5px;
    text-align: center;
    border-radius: 8px;
}

@media (min-width: 1080px) {
    #projectcard-component {
        width: 380px;
        height: 510px;
        margin-bottom: 12px;
    }

    #projectcard-component img {
        max-width: 400px;
        max-height: 240px;
    }

    #projectcard-component div.content p {
        font-size: 16px;
        width: 360px;
    }

    #projectcard-component div.content h3 {
        font-size: 32px;
    }
    
}
