#section-component {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 40px;
    overflow: hidden;
}

#section-component .children {
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    overflow: hidden;
    padding-top: 12px;
}

#section-component h1 {
    font-family: var(--title-font);
    font-size: 32px;
    font-weight: 300;
    color: var(--color-2);
}

#section-component button {
    width: 100vw;
    height: 50px;
    background-color: var(--color-1);
    border: none;
    align-self: center;
    cursor: pointer;
    transition: opacity 0.2s;
}

#section-component button.toggle:hover{
    opacity: 0.9;
    animation: bottom-top 0.8s infinite;
}

#section-component button.toggle .icon {
    color: var(--color-6);
}

#section-component span.status {
    display: flex;
    height: 15px;
    padding: 10px;
    align-self: center;
    text-align: center;
    font-family: var(--text-font);
    color: var(--color-10);
    font-size: 12px;
    transition: 0.5s;
}

@keyframes bottom-top {
    0% {
        padding: 0;
    } 25% {
        padding-top: 15px;
    } 50% {
        padding-top: 0;
    } 75% {
        padding-bottom: 0px;
    } 100% {
        padding-bottom: 0;
    }
}

@media (min-width: 1024px) {
    #section-component .children {
        flex-direction: row;
    }

    #section-component h1 {
        font-size: 64px;
    }
}
