#contactcard-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-9);
    overflow: hidden;
    height: 110px;
    width: 310px;
}

#contactcard-component p {
    padding: 8px;
    font-family: var(--text-font);
    font-size: 12px;
    color: var(--color-6);
    width: 200px;
}

#contactcard-component div.icon {
    height: 110px;
    width: 110px;
    background-color: var(--color-8);
    color: var(--color-9);
}
