#contactcard-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-9);
    overflow: hidden;
    height: 110px;
    width: 310px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}

#contactcard-component:hover {
    transform: translateY(-5px);
    box-shadow: var(--color-10) 5px 3px 7px;
}

#contactcard-component p {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    font-family: var(--text-font);
    font-size: 12px;
    color: var(--color-6);
    width: 200px;
}

#contactcard-component p.copy {
    margin-top: 6vh;
}

#contactcard-component p span {
    font-family: var(--text-font);
    color: var(--color-10);
    font-size: 10px;
    padding: 10px;
    visibility: hidden;
}

#contactcard-component div.icon {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 110px;
    width: 110px;
    background-color: var(--color-8);
    color: var(--color-9);
}

@media (min-width: 1080px) {
    #contactcard-component {
        height: 112px;
        width: 540px;
    }

    #contactcard-component div.icon {
        height: 112px;
        width: 112px;
    }

    #contactcard-component p {
        flex-direction: row;
        align-self: center;
        align-items: center;
        justify-content: center;
        width: 396px;
        font-size: 18px;
    }

    #contactcard-component p.copy {
        margin-top: 1.5vw;
    }
}
