#picturelink-component {   
    cursor: pointer;
}

#picturelink-component a {
    height: 72px;
}

#picturelink-component img {
    border-radius: 50%;
    border: var(--color-2) solid;
    max-height: 72px;
    transition: 0.2s; 
}

#picturelink-component img:hover {
    transform: scale(1.1);
    box-shadow: var(--color-10) 5px 3px 7px;
}

@media (min-width: 1080px) {
    #picturelink-component img {
        max-height: 124px;
    }
}