#picturelink-component {   
    cursor: pointer;
    height: 72px;
}

#picturelink-component a {
    height: 72px;
}

#picturelink-component img {
    border-radius: 50%;
    border: var(--color-2) solid;
    max-height: 72px;
    transition: 0.2s; 
}

#picturelink-component img:hover,  
#picturelink-component div.emoji:hover {
    transform: scale(1.1);
    box-shadow: var(--color-10) 5px 3px 7px;
}

#picturelink-component div.emoji {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: var(--color-1);
    border-radius: 50%;
    margin-top: -26px;
    font-size: 24px;
}

@media (min-width: 1080px) {

    #picturelink-component {
        height: 135px;
    }

    #picturelink-component img {
        max-height: 124px;
    }

    #picturelink-component div.emoji {
        height: 50px;
        width: 50px;
        margin-top: -48px;
    }
}